.footer {
  height: 35vh;
  background-image: url(../image/footer.png);
  background-size: cover;
  background-position: center;

  @include on-tablet {
    height: 50vh;
    background-size: cover;
    background-position: center;
  }

  @include on-laptop {
    height: 45vh;
    background-size: cover;
    background-position: center;
  }
}
