.header {
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url(../image/header.png);
  background-size: cover;
  background-position: 72% center;

  @include on-phone {
    background-image: url(../image/header.png);
    background-position: right;
    background-size: cover;
  }

  @include on-laptop {
    background-image: url(../image/header.png);
  }

  &__title {
    padding-top: 160px;
    padding-inline: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $main-text-color;
    font-size: 40px;
    line-height: 1;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    white-space: normal;
    max-width: 320px;
    margin-inline: auto;

    @include on-phone {
      top: 256px;
    }

    @include on-tablet {
      padding-top: 225px;
      font-size: 64px;
      max-width: none;
    }

    @include on-laptop {
      font-size: 80px;
    }
  }
}
