.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
  position: relative;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &__number {
    display: none;
    font-size: 12px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  &--phone {
    background-image: url(../image/Icon-Phone-call.png);
    text-decoration: none;
    display: block;
    white-space: nowrap;
    color: $main-text-color;
    align-items: center;
    position: relative;

    @include on-laptop {
      &:hover .icon__number {
        display: block;
        opacity: 1;
        transform: translateY(-50%) translateX(-12px);
      }
    }
  }

  &--menu {
    background-image: url(../image/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../image/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../image/Close.svg);
  }
}
