.top {
  padding-block: 24px;

  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  @include on-laptop {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__logo {
    display: flex;
    width: 110px;
    height: 32px;

    @include hover(transform, scale(1.2));

    @include on-phone {
      width: 110px;
      height: 32px;
    }

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }
}
